streamlit
langchain
langchain_openai
python-dotenv
scikit-learn
matplotlib
numpy
jupyter
notebook
pydantic
faiss-cpu
datetime
Chroma
chromadb
chroma-hnswlib
ipykernel
openai
rank_bm25
lark
langchain-community
nltk
rouge
seaborn